{% extends 'base.html.twig' %}

{% block title %}Hello MailController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   <h1>Hi! Please confirm your email!</h1>

<p>
    Please confirm your email address by clicking the following link: <br><br>
    <a href="{{path('app_login')}}">Confirm my Email</a>.
    This link will expire in 15 minutes, verifier votre mail.
</p>

<p>
    Cheers!
</p>
</div>
{% endblock %}
